<%- include("./includes/head.ejs"); %>

	<div class="container p-5">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-4"></div>

			<div class="col-12 col-sm-4">
				<h3>WELCOME HOME...</h3>
			</div>

			<div class="col-12 col-sm-4"></div>
		</div>
	</div>

<%- include("./includes/end.ejs"); %>