<%- include("./includes/head.ejs"); %>

	<div class="container p-5">
		<div class="row justify-content-center">
			<div class="col-12 col-md-4"></div>

			<div class="col-12 col-md-4 border-0 p-5">
				<a href="/customer/<%= cID %>" class="btn btn-success">CHECK INVOICE</a>
			</div>

			<div class="col-12 col-md-4"></div>
		</div>
	</div>

<%- include("./includes/end.ejs"); %>